<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>


<connectionStrings><add name="DataContext" connectionString="metadata=res://*/Models.DataContextModel.csdl|res://*/Models.DataContextModel.ssdl|res://*/Models.DataContextModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LOD216K\SQLEXPRESS;initial catalog=BillButtonDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>